@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<BlogAPP.Models.User>

<h1>Users</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>E-Mail</th>
            <th>Password</th>
            <th>Role Name</th>
            <th>Status</th>
            <th>Created Date</th>
            <th> </th>
            <th> </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserID</td>
                <td>@user.UserName</td>
                <td>@user.UserSurname</td>
                <td>@user.UserEmail</td>
                <td>@user.UserPassword</td>
                <td>@user.RoleID</td>
                <td>@user.UserStatus</td>
                <td>@user.Created_at</td>
                <td>
                    <a asp-controller="User" asp-action="UserEdit" asp-route-id="@user.UserID">Edit</a>
                </td>

            </tr>

        }
    </tbody>

</table>